In [17]:
import pandas as pd
import seaborn as sns

In [11]:
df = pd.read_csv('top500.csv')

In [10]:
df.head()

,id_,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,...,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,166,3,16,325,NaN,NaN,5,101668,2,-2,...,411.0,92,2261498,335444,566360,3527,1.2,9.7,Vardy,1
1,192,4,11,235,100.0,100.0,3,110979,1,-1,...,403.0,83,2135666,116290,770571,9405,0.5,6.9,Mané,1
2,460,2,16,277,100.0,100.0,4,173879,1,-1,...,501.0,81,3707298,113013,545946,25529,0.9,10.3,Abraham,2
3,215,10,10,317,100.0,100.0,5,61366,0,0,...,291.0,76,2995372,38829,1527264,62285,0.3,7.5,De Bruyne,0
4,191,3,8,204,75.0,100.0,3,118748,0,0,...,640.0,72,951075,30472,1984293,49077,0.3,5.9,Salah,0

In [12]:
df.columns

Index(['id_', 'assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'creativity', 'dreamteam_count',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'in_dreamteam',
       'influence', 'minutes', 'news', 'news_added', 'now_cost', 'own_goals',
       'penalties_missed', 'penalties_saved', 'photo', 'points_per_game',
       'red_cards', 'saves', 'second_name', 'selected_by_percent', 'special',
       'squad_number', 'status', 'team', 'team_code', 'threat', 'total_points',
       'transfers_in', 'transfers_in_event', 'transfers_out',
       'transfers_out_event', 'value_form', 'value_season', 'web_name',
       'yellow_cards'],
      dtype='object')

In [16]:
df_small = df[['id_', 'assists', 'goals_scored', 'web_name', 'team']]

In [18]:
df_small.head()

   id_  assists  goals_scored   web_name  team
0  166        3            11      Vardy     9
1  192        4             7       Mané    10
2  460        2            10    Abraham     6
3  215       10             2  De Bruyne    11
4  191        3             6      Salah    10